<!-- Audio Player -->
<div id="playerleft">
	<div class="playeractions floatleft">
		<button id="PreviousTrack" title="Previous Track" ng-click="previousTrack()"><img src="images/first_24x24.png" /></button>
		<button id="PlayTrack" title="Play/Pause" ng-click="defaultPlay()"><img src="images/play_24x32.png" /></button>
		<button id="PauseTrack" title="Play/Pause" style="display: none;"><img src="images/pause_24x32.png" /></button>
		<button id="NextTrack" title="Next Track" ng-click="nextTrack()"><img src="images/last_24x24.png" /></button>
	</div>
	<div id="songdetails">
		<div id="coverart"><a class="coverartfancy" href="{{playingSong.coverartfull}}"><img ng-src="{{playingSong.coverartthumb}}" src="images/albumdefault_60.jpg" alt="" /></a></div>
		<span class="album" ng-bind="playingSong.album"></span>
		<span class="specs" ng-bind="playingSong.specs"></span>
		<div id="songdetails_controls">
			<a href="" id="action_Mute" class="mute first" title="Mute"></a>
			<a href="" id="action_UnMute" class="unmute first" title="Unmute" style="display: none;"></a>
			<div class="jp-volume-bar"><div class="jp-volume-bar-value"></div></div><a href="" id="action_VolumeMax" class="volume" title="Max Volume"></a>
			<a href="" class="loop" title="Repeat" ng-click="toggleSetting('Repeat')" ng-class="{'hoverSelected': !settings.Repeat }"></a>
			<a href="" id="action_SaveProgress" class="lock" title="Save Track Position: On" ng-show="settings.SaveTrackPosition"></a>
			<a title="Favorite" href="" ng-class="{'favorite': playingSong.starred, 'rate': !playingSong.starred}" ng-click="updateFavorite(playingSong)" stop-event="click"></a>
		</div>
	</div>

	<div id="playdeck"></div>
</div>

<div class="audiojs">
	<span class="song" ng-bind="playingSong.name"></span>
	<div class="scrubber"><div class="progress"></div><div class="loaded"></div></div>
	<div class="time"><em id="played">00:00</em>/<strong id="duration">00:00</strong></div>
	<div class="error-message"></div>
</div>
<div id="preview"></div>
