<!-- Start: Library Tab -->
<div id="tabLibrary">

	<div class="actions floatleft">
		<button id="action_RefreshArtists" title="Refresh Artists" ng-click="refreshArtists()"><img class="pad" src="images/reload_9x11.png" /></button>
		<button id="action_RescanLibrary" title="Rescan Library" ng-click="rescanLibrary()"><img class="pad" src="images/loop_alt1_gd_12x9.png" /></button>
	</div>

	<div id="search">
		<input type="text" id="Search" class="medium" title="Wildcards (*) supported" placeholder="Search..." ng-enter="search()"/>
		<select id="SearchType" name="SearchType" ng-model="SearchType.id" ng-options="o.id as o.name for o in SearchTypes"></select>
		<button id="action_Search" title="Search" ng-click="search()"><img class="pad" src="images/magnifying_glass_alt_12x12.png" /></button>
	</div>

	<div id="SubsonicAlbums" class="lgsection">

		<div id="SubsonicIndex">
			<div id="AZIndex" ng-show="!settings.HideAZ" class="subactionsfixed">
				<a href="" ng-click="toggleAZ()" stop-event="click">A-Z</a>
			</div>

			<select id="MusicFolders" class="folders" ng-model="SelectedMusicFolder" ng-options="o as o.name for o in MusicFolders">
				<option value="">All Folders</option>
			</select>

			<ul id="AutoAlbumContainer" class="simplelist">
				<li class="index" id="auto">Auto Albums</li>

				<li class="item" ui-sref-active="selected">
				<a ui-sref="library.recent({offset: 0})">Recently Added</a>
				<div class="AutoAlbumControls">
					<a href class="nextprev hover" title="Previous" ui-sref="library.recent({offset: 'prev'})">&lsaquo;</a>
					<a href class="nextprev hover" title="Next" ui-sref="library.recent({offset: 'next'})">&rsaquo;</a>
				</div>
				</li>
				<li class="item" ui-sref-active="selected">
				<a ui-sref="library.random()">Random</a>
				</li>

				<li class="item" ng-repeat="o in AutoAlbums" id="{{o.id}}" ng-click="getAlbumListBy(o.id)" ng-class="{'selected': selectedAutoAlbum == o.id }">
				<span>{{o.name}}</span>
				<div class="AutoAlbumControls">
					<a class="nextprev hover" title="Previous" ng-click="getAlbumListBy(o.id, 'prev')" stop-event="click">&lsaquo;</a>
					<a class="nextprev hover" title="Next" ng-click="getAlbumListBy(o.id, 'next')" stop-event="click">&rsaquo;</a>
				</div>
				</li>
			</ul>

			<!-- Shortcut -->
			<ul class="simplelist" ng-show="shortcut.length">
				<li class="index" title="Scroll to Top" data-bind="click: $root.scrollToTop"><a>Shortcuts</a></li>
				<ul class="simplelist" ng-repeat="o in shortcut">
					<li class="item" id="{{o.id}}" ng-click="getAlbums(o.id, o.name)" ng-class="{'selected': selectedArtist == o.id}"><span ng-bind="o.name"></span></li>
				</ul>
			</ul>

			<!-- Artist -->
			<div id="loadartists" ng-hide="index.length">
			    <img src="images/ajax-loader.gif">
		    </div>
		    <ul class="artistIndexes">
			    <li ng-repeat="o in index | limitTo: 1">
			    <h4 id="{{o.name}}" class="index">{{o.name}}</h4>
			    <ul class="artistList">
				    <li ng-repeat="a in o.artist" class="item" ui-sref-active="selected" ><a ui-sref="library.artist({artistId: a.id})" ng-bind="a.name"></a></li>
			    </ul>
			    </li>
		    </ul>

	    </div>
	    <div id="SubsonicResults">

		    <!-- Albums -->
		    <div id="AlbumsList" ui-view="albums" inf-scroll="loadMoreAlbums()">
		    </div>
	    </div>
    </div>
    <div id="submenu_AZIndex" class="submenu shadow" style="display: none;">
	    <ul>
		    <li ng-repeat="o in index"><a href="" ng-click="scrollToIndexName(o.name)">{{o.name}}</a></li>
		    <li><a href="" class="close" ng-click="scrollToIndexName('AZIndex')">[Top]</a></li>
		    <li><a href="" class="close" ng-click="toggleAZ()">[Close]</a></li>
	    </ul>
    </div>
    <!--<songpreview class="songpreview"></songpreview>-->
</div>
