<!-- Start: Library Tab -->
<div id="tabLibrary" ui-sref-active="active">

	<div class="actions floatleft">
		<button id="action_RefreshArtists" title="Refresh Artists" ng-click="refreshArtists()"><img class="pad" src="images/reload_9x11.png" /></button>
		<button id="action_RescanLibrary" title="Rescan Library" ng-click="rescanLibrary()"><img class="pad" src="images/loop_alt1_gd_12x9.png" /></button>
	</div>

	<div id="search">
		<input type="text" id="Search" class="medium" title="Wildcards (*) supported" placeholder="Search..." ng-enter="search()"/>
		<select id="SearchType" name="SearchType" ng-model="SearchType.id" ng-options="o.id as o.name for o in SearchTypes"></select>
		<button id="action_Search" title="Search" ng-click="search()"><img class="pad" src="images/magnifying_glass_alt_12x12.png" /></button>
	</div>

	<div id="SubsonicAlbums" class="lgsection">

		<div id="SubsonicIndex">
			<div id="AZIndex" ng-show="!settings.HideAZ" class="subactionsfixed">
				<a href="" ng-click="toggleAZ()" stop-event="click">A-Z</a>
			</div>

			<select id="MusicFolders" class="folders" ng-model="SelectedMusicFolder" ng-options="o as o.name for o in MusicFolders">
				<option value="">All Folders</option>
			</select>

			<ul id="AutoAlbumContainer" class="simplelist">
				<li class="index" id="auto">Auto Albums</li>
				<li class="item" ng-repeat="o in AutoAlbums" id="{{o.id}}" ng-click="getAlbumListBy(o.id)" ng-class="{'selected': selectedAutoAlbum == o.id }">
				<span>{{o.name}}</span>
				<div class="AutoAlbumControls">
					<a class="nextprev hover" title="Previous" ng-click="getAlbumListBy(o.id, 'prev')" stop-event="click">&lsaquo;</a>
					<a class="nextprev hover" title="Next" ng-click="getAlbumListBy(o.id, 'next')" stop-event="click">&rsaquo;</a>
				</div>
				</li>
			</ul>

			<!-- Shortcut -->
			<ul class="simplelist" ng-show="shortcut.length">
				<li class="index" title="Scroll to Top" data-bind="click: $root.scrollToTop"><a>Shortcuts</a></li>
				<ul class="simplelist" ng-repeat="o in shortcut">
					<li class="item" id="{{o.id}}" ng-click="getAlbums(o.id, o.name)" ng-class="{'selected': selectedArtist == o.id}"><span ng-bind="o.name"></span></li>
				</ul>
			</ul>

			<!-- Artist -->
			<div id="loadartists" ng-hide="index.length">
				<button id="action_RefreshArtists" title="Refresh Artists" ng-click="refreshArtists()"><img class="pad" src="images/reload_9x11.png" /></button>
			</div>
			<ul class="simplelist" ng-repeat="o in index">
				<li class="index" title="Scroll to Top" id="{{o.name}}" ng-click="scrollToTop()"><a>{{o.name}}</a></li>
				<ul class="simplelist artistlist">
					<li ng-repeat="a in o.artist" class="item" ui-sref-active="selected" ><a ui-sref=".artist({artistId: a.id})" ng-bind="a.name"></a></li>
				</ul>
			</ul>

		</div>
		<div id="SubsonicResults" ui-view="albums">

			<!-- Albums -->
			<div id="AlbumsList">

				<select id="SelectedAlbumSort" ng-model="SelectedAlbumSort" ng-options="s as s.name for s in AlbumSort">
				</select>

				<select id="SelectedAlbumDisplay" ng-model="SelectedAlbumDisplay" ng-options="s as s.name for s in AlbumDisplay">
				</select>

				<ol id="BreadCrumbs">
					<li class="crumb" ng-repeat="o in BreadCrumbs | filter:{type:'artist'}"><a ng-click="getAlbums(o)">{{o.name}}</a> &gt;</li>
					<li class="crumb" ng-repeat="o in BreadCrumbs | filter:{type:'album'}"><a ng-click="getSongs(o.id, '')">{{o.name}}</a> &gt;</li>
				</ol>

				<div style="clear:both"></div>

				<h3 ng-hide="!selectedArtist.album.length">Albums<span ng-hide="!selectedArtist"> &mdash; {{selectedArtist.name}}</span></h3>
				<ul class="albumlist" ng-hide="!selectedArtist.album.length" ng-class="SelectedAlbumDisplay.id">
					<li class="album" id="{{o.id}}" parentid="{{o.parent}}" ng-repeat="o in selectedArtist.album | orderBy: SelectedAlbumSort.id" ui-sref-active="selected">
					<a ui-sref="library.artist.album({albumId: o.id})"><img ng-src="{{o.coverartthumb}}" src="images/albumdefault_160.jpg"></a>
					<span class="year" ng-bind="o.year"></span>
					<div class="itemactions">
						<a class="add" href="" title="Add To Play Queue" ng-click="getSongs(o.id, 'add')" stop-event="click"></a>
						<a class="play" href="" title="Play" ng-click="getSongs(o.id, 'play')" stop-event="click"></a>
						<a class="download" href="" ng-click="download(o.id)" title="Download" stop-event="click"></a>
						<a title="Favorite" href="" ng-class="{'favorite': o.starred, 'rate': !o.starred}" ng-click="updateFavorite(o)" stop-event="click"></a>
						<a class="info hover" href="" title="{{'Created: ' + o.date}}"></a>
					</div>
					<div class="albuminfo">
						<div class="artist" ng-bind="o.artist"></div>
						<a class="title" ui-sref="library.artist.album({albumId: o.id})"><h4 ng-bind="o.name"></h4></a>
					</div>
					<div style="clear: both"></div>
					</li>
				</ul>
				<div style="clear: both"></div>

			</div>

			<div ui-view="songs">

				<div id="songResults">
					<h3 ng-bind="selectedAlbum.name"></h3>
					<h2 ng-show="!selectedAlbum.song.length">Click an album to list the songs</h2>

					<div class="subactions">
						<button id="action_PlayAlbum" title="Play Album" ng-click="playAll()" ng-hide="!song.length"><img src="images/play_gl_6x8.png"></button>
						<button id="action_SelectAll" title="Select All" ng-click="selectAll()">All</button>
						<button id="action_SelectNone" title="Select None" ng-click="selectNone()">None</button>
						<button id="action_AddToQueue" title="Add To Queue" ng-click="addSongsToQueue()">+ Queue</button>
						<button id="action_AddToPlaylist" title="Add Selected To Playlist" ng-click="loadPlaylistsForMenu()">+ Playlist</button>
						<div id="submenu_AddToPlaylist" class="submenu shadow">
							<a href="" ng-repeat="o in playlistMenu" ng-click="addToPlaylist(o.id)">{{o.name}}</a>
						</div>
					</div>

					<ul class="songlist" ng-hide="!selectedAlbum.song.length">
						<li class="row song" ng-repeat="o in selectedAlbum.song" ng-click="selectSong(o)" ng-dblclick="playSong(false, o)" ng-class="{'selected': o.selected, 'playing': o.playing}" data-bind="attr: { id: id, parentid: parentid, title: description }">
						<div class="itemactions">
							<a class="add" href="" title="Add To Play Queue" ng-click="addSongToQueue(o)" stop-event="click"></a>
							<a class="remove" href="" title="Remove"></a>
							<a class="play" href="" title="Play" ng-click="playSong(false, o)" stop-event="click"></a><a class="download" href="" title="Download"></a>
							<a href="" title="Favorite" ng-class="{'favorite': o.starred, 'rate': !o.starred}" ng-click="updateFavorite(o)" stop-event="click"></a>
						</div>

						<span class="track" ng-bind="o.track"></span>
						<span class="title" title="{{o.description}}" ng-bind="o.name"></span>

						<a ng-href="#/library/0/{{o.albumId}}" class="albumblock" ng-show="o.album && itemType === 'pl'" stop-event="click" ng-bind="o.album" title="{{o.album}}"></a>
						<a ng-href="#/archive/{{o.artist}}/{{o.parentid}}" class="albumblock" ng-show="o.album && itemType === 'archive'" stop-event="click" ng-bind="o.album" title="{{o.album}}"></a>

						<span class="time">{{o.time}}</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div id="submenu_AZIndex" class="submenu shadow" style="display: none;">
		<ul>
			<li ng-repeat="o in index"><a href="" ng-click="scrollToIndexName(o.name)">{{o.name}}</a></li>
			<li><a href="" class="close" ng-click="scrollToIndexName('AZIndex')">[Top]</a></li>
			<li><a href="" class="close" ng-click="toggleAZ()">[Close]</a></li>
		</ul>
	</div>
	<!--<songpreview class="songpreview"></songpreview>-->
</div>
